<div class="main-page">
  <button class="btn-success" mat-raised-button routerLink="/create-post">
    Create new post
  </button>
  <table mat-table [dataSource]="postList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element" class="row-data">
        {{ element.id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element" class="row-data">
        {{ element.title }}
      </td>
    </ng-container>
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell *matCellDef="let element" class="row-data">
        {{ element.body }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="action-row">
          <button
            class="btn-info"
            mat-raised-button
            [routerLink]="['/view-post', element.id]"
          >
            View</button
          ><button
            class="btn-primary"
            mat-raised-button
            [routerLink]="['/edit-post', element.id]"
          >
            Edit</button
          ><button
            class="btn-danger"
            mat-raised-button
            (click)="deletePost(element)"
          >
            Delete
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
