
.view-card{
    margin:100px 40px 20px 40px;

}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn-primary{
    background: rgb(25, 87, 246);
    color:white;
}