<div class="edit-card">
  <div class="title">
    <h4 class="">Create a Post</h4>
    <button class="btn-primary" mat-raised-button routerLink="/main">
      Back
    </button>
  </div>
  <form
    [formGroup]="editPostForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="d-flex-center"
  >
    <div class="example-container">
      <div>
        <label>Title: </label>
        <mat-form-field>
          <input
            matInput
            placeholder=""
            formControlName="title"
            [(ngModel)]="selectedPost.title"
          />
          <mat-error
            *ngIf="
              editPostForm.get('title')?.invalid &&
              (editPostForm.get('title')?.dirty ||
                editPostForm.get('title')?.touched) &&
              editPostForm.get('title')?.errors?.required
            "
          >
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <label>Body: </label>
        <mat-form-field>
          <textarea
            matInput
            type="body"
            placeholder=""
            formControlName="body"
            [(ngModel)]="selectedPost.body"
          ></textarea>
          <mat-error
            *ngIf="
              editPostForm.get('body')?.invalid &&
              (editPostForm.get('body')?.dirty ||
                editPostForm.get('body')?.touched) &&
              editPostForm.get('body')?.errors?.required
            "
          >
            Body is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top">
        <button
          [disabled]="!editPostForm.valid"
          mat-raised-button
          color="primary"
          mat-button
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
