<div class="login-card text-center">
  <h4 class="text-center">Forgot Password</h4>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="d-flex-center"
  >
    <div class="example-container">
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="UserName/Email"
            formControlName="email"
          />
          <mat-error
            *ngIf="
              !loginForm.get('email')?.errors?.required &&
              loginForm.get('email')?.errors?.pattern
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched) &&
              loginForm.get('email')?.errors?.required
            "
          >
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-top">
        <button
          [disabled]="!loginForm.valid"
          mat-raised-button
          color="primary"
          mat-button
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
